In [6]:
# !pip list

## 1. Extraccion de datos de BD Postgress

In [ ]:
import psycopg2
import pandas as pd

def consultar_postgres_hudbay():
    host = "192.168.5.114"
    database = "ControlSenseDB"
    user = "postgres"
    password = "larc0mar"
    # Establecer la conexión a la base de datos
    try:
        connection = psycopg2.connect(
            host=host,
            database=database,
            user=user,
            password=password
        )

        # Crear un cursor para ejecutar comandos SQL
        cursor = connection.cursor()

        # Establecer la zona horaria antes de ejecutar la consulta
        time_zone_query = "SET TIME ZONE 'America/Lima';"
        cursor.execute(time_zone_query)

        # Tu consulta SQL con el parámetro parametro
        tu_query_sql = ''' 
        select z.* from (select distinct a.id id_ciclo_acarreo, a.id_cargadescarga, a.id_palas, a.id_equipo id_equipo_camion,  
        m.id_ciclo_carguio,	m.id_equipo_carguio , m.id_trabajador id_trabajador_pala, m.id_crew id_guardia_realiza_carga_al_camion,
        m.id_locacion id_locacion, 
        m.id_poligono id_poligono_se_obtiene_material, m.tiempo_inicio_carga_carguio, m.tiempo_esperando_carguio, 
        m.tiempo_ready_cargando tiempo_ready_cargando_pala, m.tiempo_ready_esperando tiempo_ready_esperando_pala,
        m.previous_esperando_pala, m.isspot termino_carga_equipo_en_espera_cuadrado_cuadrandose_carguio, m.bool_estado cambio_estado_operatividad_carguio,
        m.bool_equipo_next tiene_camion_cuadrado_al_termino_carga_pala, m.cola cantidad_equipos_espera_al_termino_carga_pala,
        s.id_estados id_estados_camion, s.id_equipo id_equipo_table_estados_camion, s.id_detal_estado id_detal_estado_camion, s.tiempo_inicio_cambio_estado tiempo_inicio_cambio_estado_camion,
        s.tiempo_estimado_duracion_estado tiempo_estimado_duracion_estado_camion,
        s.en_campo_o_taller_mantenimiento en_campo_o_taller_mantenimiento_camion, s.tipoubicacionsupervisor tipoubicacionsupervisor_camion,
        s.id_tipo_estad id_tipo_estad_camion, s.estado_detalle estado_detalle_camion, s.estado_secundario estado_secundario_camion, 				 
        s.estado_primario estado_primario_camion,
        ss.id_estados id_estados_pala, ss.id_equipo id_equipo_table_estados_pala, ss.id_detal_estado id_detal_estado_pala, 
        ss.tiempo_inicio_cambio_estado tiempo_inicio_cambio_estado_pala, ss.tiempo_estimado_duracion_estado tiempo_estimado_duracion_estado_pala,
        ss.en_campo_o_taller_mantenimiento en_campo_o_taller_mantenimiento_pala, ss.tipoubicacionsupervisor tipoubicacionsupervisor_pala, 
        ss.id_tipo_estad id_tipo_estad_pala, ss.estado_detalle estado_detalle_pala, ss.estado_secundario estado_secundario_pala, 				 
        ss.estado_primario estado_primario_pala,
        a.id_descarga, a.id_factor, m.id_poligono, a.tiem_llegada tiem_llegada_global, a.tiem_esperando, a.tiem_cuadra, a.tiem_cuadrado,
        a.tiem_carga, a.tiem_acarreo, a.tiem_cola, a.tiem_retro, a.tiem_listo,a.tiem_descarga, a.tiem_viajando,
        a.id_trabajador id_trabajador_camion, a.id_palanext, a.tonelaje, a.tonelajevims, 
        a.id_mezcla, a.yn_estado, a.yn_operador, a.id_crewcarga id_guardia_hizocarga, a.id_crewdescarga id_guardia_hizodescarga,  
        b.id_zona id_zona_aplicafactor, o.id_zona id_zona_pertenece_poligono, b.factor,
        (a.tonelajevims/10) * (b.factor/1000) toneladas_secas,
        (a.tonelajevims / 10.0) / NULLIF(((m.tiempo_ready_cargando + m.tiempo_ready_esperando) / 3600), 0)  productividad_operativa_carguio_tn_h,			 		 
        a.efhcargado, a.efhvacio, a.distrealcargado, a.distrealvacio, a.coorxdesc, a.coorydesc, a.coorzdesc, 
        a.tipodescargaidentifier, a.tonelajevvanterior, a.tonelajevvposterior, a.dumpreal, a.loadreal, a.velocidadvimscargado,
        a.velocidadvimsvacio, a.velocidadgpscargado, a.velocidadgpsvacio, a.tonelajevimsretain, a.nivelcombuscargado, a.nivelcombusdescargado,
        a.volumen, a.aplicafactor_vol, a.coorzniveldescarga,
        a.efh_factor_loaded, a.efh_factor_empty,f.nombre_equipo, f.id_secundario, f.secundario flota_secundaria, f.id_principal, f.principal flota_principal,
        f.capacidad_vol capacidad_vol_equipo, f.capacidad_pes capacidad_pes_equipo, f.capacidadtanque capacidadtanque_equipo, 
        f.fcorrec_efhod fcorrec_efhod_equipo, f.fcorrec_efhdo fcorrec_efhdo_equipo, f.pesobruto peso_bruto_equipo, f.ishp ishp_equipo,
        f.ancho ancho_equipo, f.largo largo_equipo, f.numeroejes numeroejes_equipo, f.tipoespecial tipoespecial_equipo, 
        f.radiohexagonoequipo radiohexagonoequipo_equipo, f.radiohexagonocuchara radiohexagonocuchara_equipo, 
        ff.nombre_equipo nombre_equipo_carguio,
        ff.capacidad_vol capacidad_vol_equipo_carguio, ff.capacidad_pes capacidad_pes_equipo_carguio, ff.capacidadtanque capacidadtanque_equipo_carguio, 
        ff.radiohexagonoequipo radiohexagonoequipo_carguio, ff.radiohexagonocuchara radiohexagonocuchara_equipo_carguio, 
        g.id_turnos id_turnos_turnocarga, g.nombre nombre_turnocarga, g.horaini horaini_turnocarga, g.horafin horafin_turnocarga,
        h.id_turnos id_turnos_turnodescarga, h.nombre nombre_turnodescarga, h.horaini horaini_turnodescarga, h.horafin horafin_turnodescarga,
        j.id_tajo id_zona_encuentra_descarga, n.id_nodo id_nodo_carga, p.nombre_nodo nombre_nodo_carga, p.idzona id_zona_nodo_carga,
        j.id_nodo id_nodo_descarga, q.nombre_nodo nombre_nodo_descarga, q.idzona id_zona_nodo_descarga, j.nivel elevacion_descarga, 
        j.nombre nombre_descarga, n.nombre nombre_carga_locacion, n.nivel nivel_elevacion_locacion_mts, n.radio radio_locacion, 
        n.poligono_ids ids_poligonos_en_locacion, o.id_material, o.nombre nombre_poligono, o.nivel elevacion_poligono_mts, o.ley_in, 
        o.densidad densidad_poligono, o.tonelaje_inicial tonelaje_inicial_poligono,
        t.id id_pases, 	t.id_palas id_palas_pases, 	t.id_cargadescarga id_cargadescarga_pases, t.coord_x 	coord_x_pases,
        t.coord_y coord_y_pases, t.coord_z coord_z_pases, t.angulo_giro angulo_giro_pases, t.tonelaje tonelaje_pases, 
        t.duracion_excavacion duracion_excavacion_pases, t.angulo_giro_promedio angulo_giro_promedio_pases, t.has_block has_block_pases,
        ROW_NUMBER() OVER (PARTITION BY a.id ORDER BY a.id DESC) AS RowNum
        from public.tp_cargadescarga a
        left join public.ta_factortonelaje b
        on a.id_factor = b.id
        left join (select d.id_principal, d.principal, d.id_secundario, d.secundario, c.id id_equipo, c.nombre nombre_equipo, c.capacidad_vol,
        c.capacidad_pes, c.capacidadtanque, c.fcorrec_efhod, c.fcorrec_efhdo, c.pesobruto, c.ishp, c.ancho, c.largo,
        c.numeroejes, c.anho, c.tipoespecial, c.radiohexagonoequipo, c.radiohexagonocuchara
        from public.ts_equipos c
        inner join (select b.id id_principal , b.nombre principal, a.id id_secundario , a.nombre secundario from public.ts_equipos a
        inner join (select id, nombre from public.ts_equipos where id_flota = 0 and tiem_elimin is null) b
        on b.id = a.id_flota
        where a.tiem_elimin is null) d
        on d.id_secundario = c.id_flota
        where c.id_flota <> 0 and c.isflota = false and c.tiem_elimin is null
        order by d.id_principal) f
        on a.id_equipo = f.id_equipo
        left join (select id, id_turnos, nombre, horaini, horafin from public.ts_turnos
        where tiem_elimin is null) g
        on a.id_turnocarga = g.id
        left join (select id, id_turnos, nombre, horaini, horafin from public.ts_turnos
        where tiem_elimin is null) h
        on a.id_turnodescarga = h.id
        left join public.ts_descarga j 
        on a.id_descarga = j.id
        left join (
        SELECT tp.id id_ciclo_carguio, tp.id_palas, tp.id_equipo as id_equipo_carguio, 
        tp.id_locacion, 
        tp.id_poligono, tp.id_trabajador, tp.id_crew, tp.isspot, tp.bool_estado, tp.bool_equipo_next, tp.cola, 
        tcd1.tiem_carga as tiempo_inicio_carga_carguio,
        tcd1.tiem_acarreo as tiempo_esperando_carguio,
        getreadytime( tp.id_equipo, tcd1.tiem_carga, tcd1.tiem_acarreo) tiempo_ready_cargando,
        getreadytime( tp.id_equipo, 
                    lag(tcd1.tiem_acarreo) OVER (PARTITION BY (COALESCE(null, true)), tp.id_equipo ORDER BY tcd1.tiem_carga), 
                    tcd1.tiem_carga) tiempo_ready_esperando,
        lag(tcd1.tiem_acarreo) OVER (PARTITION BY (COALESCE(null, true)), tp.id_equipo ORDER BY tcd1.tiem_carga) AS previous_esperando_pala,
        tcd1.tiem_acarreo,
        tcd1.tiem_carga
        --tcd1.*
        FROM tp_cargadescarga tcd1
        LEFT JOIN tp_palas tp ON tp.id = (SELECT id 
                                FROM tp_palas 
                                    WHERE id_palas = tcd1.id_palas
                                    ORDER BY ID DESC LIMIT 1)
        WHERE tcd1.tiem_elimin IS NULL
        AND tcd1.tiem_viajando IS NOT NULL
        and tp.tiem_elimin IS NULL and tcd1.tiem_carga > '2023-09-27 00:00:00' and tcd1.tiem_carga < '2023-12-27 00:00:00') m   --MODIFICAR FECHAS (1 mes atras, etc) CURRENT_TIMESTAMP - INTERVAL '1 year'
        on a.id_palas = m.id_palas
        left join public.ts_locacion n
        on m.id_locacion = n.id
        left join public.ts_poligono o
        on m.id_poligono = o.id
        left join (select * from public.tp_nodos
        where loc_carga = 'true' and tiem_elimin is null) p
        on n.id_nodo = p.id --id_nodo
        left join (select * from public.tp_nodos
        where loc_descarga = 'true' and tiem_elimin is null) q
        on j.id_nodo = q.id				 
        left join (select d.id_principal, d.principal, d.id_secundario, d.secundario, c.id id_equipo, c.nombre nombre_equipo, c.capacidad_vol,
        c.capacidad_pes, c.capacidadtanque, c.fcorrec_efhod, c.fcorrec_efhdo, c.pesobruto, c.ishp, c.ancho, c.largo,
        c.numeroejes, c.anho, c.tipoespecial, c.radiohexagonoequipo, c.radiohexagonocuchara
        from public.ts_equipos c
        inner join (select b.id id_principal , b.nombre principal, a.id id_secundario , a.nombre secundario from public.ts_equipos a
        inner join (select id, nombre from public.ts_equipos where id_flota = 0 and tiem_elimin is null) b
        on b.id = a.id_flota
        where a.tiem_elimin is null) d
        on d.id_secundario = c.id_flota
        where c.id_flota <> 0 and c.isflota = false and c.tiem_elimin is null
        order by d.id_principal) ff
        on m.id_equipo_carguio = ff.id_equipo		 
        left join (select z.* from
        (select A.id, A.id_estados, A.id_equipo, A.id_detal_estado, A.tiempo_inicio tiempo_inicio_cambio_estado,
        A.tiempo_estimado tiempo_estimado_duracion_estado, A.idenestado en_campo_o_taller_mantenimiento,
        A.tipoubicacionsupervisor,
        B.id_tipo_estad, B.nombre as estado_detalle,
        (select nombre from public.ts_detal_estado where id=B.id_tipo_estad limit 1) as estado_secundario, 
        (select nombre from public.ts_detal_estado where id = (select id_tipo_estad from public.ts_detal_estado where id=B.id_tipo_estad limit 1) limit 1) as estado_primario,
        ROW_NUMBER() OVER (PARTITION BY A.id_equipo ORDER BY A.id_equipo) AS row_num
        from public.tp_estados A
        left join public.ts_detal_estado B on A.id_detal_estado = B.id_detal_estado
        --left join (select * from public.ts_detal_estado where id=B.id_tipo_estad limit 1) C on true
        where A.tiem_elimin is null) z
        WHERE
        z.row_num = 1) s
        on a.id_equipo = s.id_equipo
        left join (select z.* from
            (select A.id, A.id_estados, A.id_equipo, A.id_detal_estado, A.tiempo_inicio tiempo_inicio_cambio_estado,
            A.tiempo_estimado tiempo_estimado_duracion_estado, A.idenestado en_campo_o_taller_mantenimiento,
            A.tipoubicacionsupervisor,
            B.id_tipo_estad, B.nombre as estado_detalle,
            (select nombre from public.ts_detal_estado where id=B.id_tipo_estad limit 1) as estado_secundario, 
            (select nombre from public.ts_detal_estado where id = (select id_tipo_estad from public.ts_detal_estado where id=B.id_tipo_estad limit 1) limit 1) as estado_primario,
            ROW_NUMBER() OVER (PARTITION BY A.id_equipo ORDER BY A.id_equipo) AS row_num
            from public.tp_estados A
            left join public.ts_detal_estado B on A.id_detal_estado = B.id_detal_estado
            --left join (select * from public.ts_detal_estado where id=B.id_tipo_estad limit 1) C on true
            where A.tiem_elimin is null) z
            WHERE
            z.row_num = 1) ss
        on m.id_equipo_carguio = ss.id_equipo
        left join (select * from public.ta_datacarga_sensores 
        where tiem_elimin is NULL) t
        on a.id_cargadescarga = t.id_cargadescarga
        left join (select * from public.ta_guardias) w
        on a.id_crewcarga = w.id
        left join (select * from public.ta_guardias) x
        on a.id_crewdescarga = x.id
        left join (select * from public.ta_guardias) y
        on m.id_crew = y.id
        where a.tiem_elimin is null and a.tiem_llegada > '2023-09-27 00:00:00' and a.tiem_llegada < '2023-12-27 00:00:00' and b.factor is not null ) z --and g.id_turnos= 1 and h.id_turnos = 1, --MODIFICAR FECHAS (1 mes atras, etc))
        -- CURRENT_TIMESTAMP - INTERVAL '1 year' 2015-12-01 09:45:21 y 2024-06-27 13:52:12.488+00
        -- year, month, etc
        where z.RowNum = 1
        '''

        # Ejecutar la consulta con el parámetro parametro
        cursor.execute(tu_query_sql)

        # Obtener los resultados en un DataFrame de pandas
        resultados_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

        # Cerrar el cursor y la conexión
        cursor.close()
        connection.close()

        # Devolver el DataFrame con los resultados
        return resultados_df

    except psycopg2.Error as e:
        print("Error al conectar a la base de datos PostgreSQL:", e)
        return None
datos = consultar_postgres_hudbay()
nombre_archivo = 'bd_hudbay_pases_3m_v2.parquet'
datos.to_parquet(nombre_archivo)

In [57]:
df['tiem_llegada_global']

0       2023-09-27 00:00:16.796000-05:00
1       2023-09-27 00:04:13.998000-05:00
2       2023-09-27 00:04:21.897000-05:00
3       2023-09-27 00:04:58.762000-05:00
4       2023-09-27 00:06:28.487000-05:00
                      ...
74946   2023-12-09 20:40:52.773000-05:00
74947   2023-12-09 20:45:40.795000-05:00
74948   2023-12-09 20:49:29.236000-05:00
74949   2023-12-10 21:50:47.464000-05:00
74950   2023-12-10 22:06:13.394000-05:00
Name: tiem_llegada_global, Length: 74951, dtype: datetime64[ns, pytz.FixedOffset(-300)]

#### Listamos que buckets se encuentran en nuestro servicio de MINIO

In [58]:
from minio import Minio
import urllib3


# Conectar al servidor de MinIO
client = Minio(
    "minio.minio-user.svc.cluster.local:80",  # IP del servidor MinIO
    access_key="PTDkCupJb66cl9DwvmlW",
    secret_key="AkVxpH7t4og1DK6VIJo8jLrdQTBz9a6ZhzOYYT6n",
    secure=False,  # Cambia a False si no usas HTTPS
    http_client=urllib3.PoolManager(cert_reqs='CERT_NONE')  # Ignora la verificación del certificado
)

try:
    # Listar los buckets disponibles
    buckets = client.list_buckets()
    print("Buckets disponibles:")
    for bucket in buckets:
        print(f"- {bucket.name}")
except Exception as e:
    print(f"Error al conectar o listar los buckets: {e}")

Buckets disponibles:
- hudbayraw
- nifi
- prueba
- pruebabryanbucket
- test

## 2.Enviamos el Dataframe de pandas a MINIO, en formato .parquet

In [55]:
import pandas as pd
from io import BytesIO  # Clase que permite manejar datos binarios en memoria como si fueran archivos 
from minio import Minio  # Cliente de Python para interactuar con el servidor MinIO.
import urllib3   # Biblioteca para realizar peticiones HTTP


# Convertir el DataFrame a un buffer en memoria en formato Parquet
parquet_buffer = BytesIO()
df.to_parquet(parquet_buffer, index=False)
parquet_buffer.seek(0)  # Resetea el puntero del buffer a la posición inicial

# Conectar al servidor de MinIO
client = Minio(
    "minio.minio-user.svc.cluster.local:80",  # IP del servidor MinIO (mydomain.com)
    access_key="z7soYFKCcATzYbTWbH3q",
    secret_key="ZCRyIjQozBAt0cJnenK0VGY45fl69NBLyWjwAqdl",
    secure=False,  # Cambia a True si usas HTTPS
    http_client=urllib3.PoolManager(cert_reqs='CERT_NONE')  # Ignora la verificación del certificado
)

# Nombre del bucket y del archivo
bucket_name = 'pruebabryanbucket'
object_name = 'bd_hubbay_pases_3meses.parquet'  # Nombre del archivo Parquet en el bucket

# Subir el archivo Parquet al bucket
client.put_object(
    bucket_name,
    object_name,
    data=parquet_buffer,
    length=parquet_buffer.getbuffer().nbytes
)

print(f"'{object_name}' se subió a '{bucket_name}' en MinIO")

'bd_hubbay_pases_3meses.parquet' se subió a 'pruebabryanbucket' en MinIO

## 3. Leemos archivos parquet de MINIO

### 3.1 Opcion 1   Leer 1 archivo en especifico desde el Minio

In [ ]:
import pandas as pd
from io import BytesIO
from minio import Minio
import urllib3

# Conectar al servidor de MinIO
client = Minio(
    "minio.minio-user.svc.cluster.local:80",  # Dirección del servidor MinIO
    access_key="z7soYFKCcATzYbTWbH3q",         # Clave de acceso
    secret_key="ZCRyIjQozBAt0cJnenK0VGY45fl69NBLyWjwAqdl",  # Clave secreta
    secure=False,  # Cambia a True si usas HTTPS
    http_client=urllib3.PoolManager(cert_reqs='CERT_NONE')  # Ignora la verificación del certificado
)

# Nombre del bucket y del archivo
bucket_name = 'pruebabryanbucket'
object_name = 'bd_hubbay_pases_3meses.parquet'  # Nombre del archivo Parquet que quieres leer

# Obtener el archivo Parquet del bucket
response = client.get_object(bucket_name, object_name)
data = response.read()

# Convertir los datos leídos en un DataFrame de Pandas
parquet_buffer = BytesIO(data)
df = pd.read_parquet(parquet_buffer)

# Mostrar el DataFrame
print(df)

### 3.2 Opcion 2 Leemos varios archivos parquet de MINIO y los unimos en Python

In [1]:
import pandas as pd
from io import BytesIO
from minio import Minio
import urllib3

# Conectar al servidor de MinIO
client = Minio(
    "minio.minio-user.svc.cluster.local:80",  # IP del servidor MinIO
    access_key="PTDkCupJb66cl9DwvmlW",
    secret_key="AkVxpH7t4og1DK6VIJo8jLrdQTBz9a6ZhzOYYT6n",
    secure=False,  # Cambia a True si usas HTTPS
    http_client=urllib3.PoolManager(cert_reqs='CERT_NONE')  # Ignora la verificación del certificado
)

# Nombre del bucket
bucket_name = 'hudbayraw'

# Listar todos los objetos en el bucket
objects = client.list_objects(bucket_name)

# Lista para almacenar DataFrames
dataframes = []

# Leer cada archivo Parquet y añadirlo a la lista de DataFrames
for obj in objects:
    if obj.object_name.endswith('.parquet'):
        response = client.get_object(bucket_name, obj.object_name)
        data = response.read()
        parquet_buffer = BytesIO(data)
        df = pd.read_parquet(parquet_buffer)
        dataframes.append(df)

# Concatenar todos los DataFrames en uno solo
combined_df = pd.concat(dataframes, ignore_index=True)

# Mostrar el DataFrame combinado
combined_df.head()

/tmp/ipykernel_97/812136470.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(dataframes, ignore_index=True)

,id_ciclo_acarreo,id_cargadescarga,id_palas,id_equipo_camion,id_ciclo_carguio,id_equipo_carguio,id_trabajador_pala,id_guardia_realiza_carga_al_camion,id_locacion,id_poligono_se_obtiene_material,...,id_cargadescarga_pases,coord_x_pases,coord_y_pases,coord_z_pases,angulo_giro_pases,tonelaje_pases,duracion_excavacion_pases,angulo_giro_promedio_pases,has_block_pases,rownum
0,2606466,2606466,2964682,41,2964682.0,26.0,221.0,2.0,44919.0,59473.0,...,2606466.0,"[20463338, 20463338, 20463334, 20463338, 20463...","[839692963, 839692966, 839692968, 839692971, 8...","[418527, 418521, 418523, 418516, 418517, 418524]","[87, 81, 79, 71, 65, 92, 91, 85, 75, 65, 69, 9...","[760, 393, 356, 453, 343]","[26, 42, 22, 30, 32, 32700]",80.0,True,1
1,2606467,2606467,2964686,43,2964686.0,27.0,232.0,2.0,44941.0,59547.0,...,2606467.0,"[20444297, 20444553, 20444495, 20444418, 20444...","[839667711, 839667632, 839667540, 839667665, 8...","[418456, 418454, 418455, 418455, 418457, 41846...","[39, 1, 0, 1, 1, 21, 16, 1, 4, 3, 19, 13, 25, ...","[768, 340, 337, 340, 297, 295]","[30, 36, 38, 38, 10, 28, 10, 32700]",14.0,True,1
2,2606468,2606468,2964690,44,2964690.0,27.0,232.0,2.0,44941.0,59547.0,...,2606468.0,"[20444531, 20444317, 20444366, 20444322, 20445...","[839668575, 839668163, 839668082, 839668073, 8...","[418459, 418455, 418457, 418457, 418456, 41846...","[46, 29, 20, 22, 33, 35, 40, 46, 55, 17, 21, 1...","[643, 280, 324, 238, 297, 344, 229]","[40, 34, 38, 26, 12, 42, 38, 32700]",34.0,True,1
3,2606469,2606469,2964684,52,2964684.0,24.0,246.0,2.0,44939.0,59557.0,...,2606469.0,"[20074133, 20074149, 20074146, 20074163, 20074...","[839976228, 839976242, 839976263, 839976185, 8...","[421519, 421510, 421504, 421510, 421509, 421511]","[119, 80, 63, 81, 79, 68, 118, 80, 62, 83, 87,...","[600, 33, 96, 22, 22, 49, 298, 23, 23, 128, 11...","[38, 24, 32, 30, 26, 32700]",82.0,True,1
4,2606470,2606470,2964683,183,2964683.0,163.0,249.0,2.0,44900.0,58904.0,...,2606470.0,"[20164962, 20165173, 20165063, 20165181, 20165...","[839802875, 839802890, 839802867, 839802804, 8...","[421987, 421985, 421986, 421988, 421982]","[36, 28, 44, 35, 23, 42, 39, 39, 38, 29, 35, 2...","[979, 481, 478, 412, 207]","[36, 34, 40, 30, 32700]",36.0,True,1

In [2]:
combined_df['tiem_llegada_global'].min(), combined_df['tiem_llegada_global'].max()

(Timestamp('2023-06-01 00:00:09.477708-0500', tz='pytz.FixedOffset(-300)'),
 Timestamp('2024-05-31 23:58:41.857000-0500', tz='pytz.FixedOffset(-300)'))

### Enviamos el dataframe Unido al MINIO

In [3]:
import pandas as pd
from io import BytesIO  # Clase que permite manejar datos binarios en memoria como si fueran archivos 
from minio import Minio  # Cliente de Python para interactuar con el servidor MinIO.
import urllib3   # Biblioteca para realizar peticiones HTTP


# Convertir el DataFrame a un buffer en memoria en formato Parquet
parquet_buffer = BytesIO()
combined_df.to_parquet(parquet_buffer, index=False)
parquet_buffer.seek(0)  # Resetea el puntero del buffer a la posición inicial

# Conectar al servidor de MinIO
client2 = Minio(
    "minio.minio-user.svc.cluster.local:80",  # IP del servidor MinIO (mydomain.com)
    access_key="PTDkCupJb66cl9DwvmlW",
    secret_key="AkVxpH7t4og1DK6VIJo8jLrdQTBz9a6ZhzOYYT6n",
    secure=False,  # Cambia a True si usas HTTPS
    http_client=urllib3.PoolManager(cert_reqs='CERT_NONE')  # Ignora la verificación del certificado
)

# Nombre del bucket y del archivo
bucket_name = 'hudbayraw'
object_name = 'bd_hubbay_pases_all.parquet'  # Nombre del archivo Parquet en el bucket

# Subir el archivo Parquet al bucket
client2.put_object(
    bucket_name,
    object_name,
    data=parquet_buffer,
    length=parquet_buffer.getbuffer().nbytes
)

print(f"'{object_name}' se subió a '{bucket_name}' en MinIO")

'bd_hubbay_pases_all.parquet' se subió a 'hudbayraw' en MinIO

#### Leemos el archivo parquet, que se subio al MINIO

In [1]:
import pandas as pd
from io import BytesIO
from minio import Minio
import urllib3

# Conectar al servidor de MinIO
client2 = Minio(
    "minio.minio-user.svc.cluster.local:80",  # IP del servidor MinIO (mydomain.com)
    access_key="PTDkCupJb66cl9DwvmlW",
    secret_key="AkVxpH7t4og1DK6VIJo8jLrdQTBz9a6ZhzOYYT6n",
    secure=False,  # Cambia a True si usas HTTPS
    http_client=urllib3.PoolManager(cert_reqs='CERT_NONE')  # Ignora la verificación del certificado
)

# Nombre del bucket y del archivo
bucket_name = 'hudbayraw'
object_name = 'data_pases_2023-06-01_2023-07-01.parquet'  # Nombre del archivo Parquet que quieres leer

# Obtener el archivo Parquet del bucket
response = client2.get_object(bucket_name, object_name)
data = response.read()

# Convertir los datos leídos en un DataFrame de Pandas
parquet_buffer = BytesIO(data)
datos = pd.read_parquet(parquet_buffer)

# Mostrar el DataFrame
datos.head()

,id_ciclo_acarreo,id_cargadescarga,id_palas,id_equipo_camion,id_ciclo_carguio,id_equipo_carguio,id_trabajador_pala,id_guardia_realiza_carga_al_camion,id_locacion,id_poligono_se_obtiene_material,...,id_cargadescarga_pases,coord_x_pases,coord_y_pases,coord_z_pases,angulo_giro_pases,tonelaje_pases,duracion_excavacion_pases,angulo_giro_promedio_pases,has_block_pases,rownum
0,2606466,2606466,2964682,41,2964682,26,221,2,44919,59473,...,2606466.0,"[20463338, 20463338, 20463334, 20463338, 20463...","[839692963, 839692966, 839692968, 839692971, 8...","[418527, 418521, 418523, 418516, 418517, 418524]","[87, 81, 79, 71, 65, 92, 91, 85, 75, 65, 69, 9...","[760, 393, 356, 453, 343]","[26, 42, 22, 30, 32, 32700]",80.0,True,1
1,2606467,2606467,2964686,43,2964686,27,232,2,44941,59547,...,2606467.0,"[20444297, 20444553, 20444495, 20444418, 20444...","[839667711, 839667632, 839667540, 839667665, 8...","[418456, 418454, 418455, 418455, 418457, 41846...","[39, 1, 0, 1, 1, 21, 16, 1, 4, 3, 19, 13, 25, ...","[768, 340, 337, 340, 297, 295]","[30, 36, 38, 38, 10, 28, 10, 32700]",14.0,True,1
2,2606468,2606468,2964690,44,2964690,27,232,2,44941,59547,...,2606468.0,"[20444531, 20444317, 20444366, 20444322, 20445...","[839668575, 839668163, 839668082, 839668073, 8...","[418459, 418455, 418457, 418457, 418456, 41846...","[46, 29, 20, 22, 33, 35, 40, 46, 55, 17, 21, 1...","[643, 280, 324, 238, 297, 344, 229]","[40, 34, 38, 26, 12, 42, 38, 32700]",34.0,True,1
3,2606469,2606469,2964684,52,2964684,24,246,2,44939,59557,...,2606469.0,"[20074133, 20074149, 20074146, 20074163, 20074...","[839976228, 839976242, 839976263, 839976185, 8...","[421519, 421510, 421504, 421510, 421509, 421511]","[119, 80, 63, 81, 79, 68, 118, 80, 62, 83, 87,...","[600, 33, 96, 22, 22, 49, 298, 23, 23, 128, 11...","[38, 24, 32, 30, 26, 32700]",82.0,True,1
4,2606470,2606470,2964683,183,2964683,163,249,2,44900,58904,...,2606470.0,"[20164962, 20165173, 20165063, 20165181, 20165...","[839802875, 839802890, 839802867, 839802804, 8...","[421987, 421985, 421986, 421988, 421982]","[36, 28, 44, 35, 23, 42, 39, 39, 38, 29, 35, 2...","[979, 481, 478, 412, 207]","[36, 34, 40, 30, 32700]",36.0,True,1

In [4]:
datos=df

In [5]:
# 3.Tratamiento de valores Nulos
# 3.1 Supongamos que tienes un DataFrame llamado datos
valores_nulos = datos.isnull().sum()
valores_nulos_ordenados = valores_nulos.sort_values(ascending=False)
porcentaje_nulos = (valores_nulos_ordenados / len(datos)) * 100

# 3.2 Eliminamos las variables que tienen mas de 80% Nulos
columnas_a_eliminar = porcentaje_nulos[porcentaje_nulos > 80].index
datos = datos.drop(columnas_a_eliminar, axis=1)

In [6]:
datos.isnull().sum().values

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    4,    0,    0,    0,    0,    0,    0,    0,
       3299,    0, 3686,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0, 9505,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,   86,    0,    0,    0,    0,    0,    0,   86,   97,
          0,    0,  237,  109,    5,    5,    5,  140,    0,  143,    0,
          0,    5,    5,   79,   84,  307,    7,   97,    0,    0,    5,
        142,  143,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0, 5899,
       5899,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    1,    1,    1,  481,  481,  481,  481,  481,  481,
        481,  481,    0])

In [7]:
# 3.4 Rellenar los valores nulos con ceros en todo el DataFrame
datos = datos.fillna(0)

In [8]:
datos.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [9]:
datos.shape

(27779, 146)

In [2]:
#!pip list